<li class="list-group-item">
    <div class="row">
        <div class="col col-1 d-flex justify-content-center align-items-center">
            <img
                    height="64px"
                    style="aspect-ratio: 1"
                    src="{{ url('images.get', {id: item.image.id}) }}"
                    alt="product image"
            />
        </div>
        <div class="col">
            <div class="row">
                <span class="col badge bg-secondary-subtle">
                    {{ 'item.name' | trans }}
                </span>
            </div>
            <div class="row mb-3">
                <span class="col">
                    {{ item.name }}
                </span>
            </div>
            <div class="row">
                <span class="col badge bg-secondary-subtle">
                    {{ 'item.category' | trans }}
                </span>
                <span class="col badge bg-secondary-subtle">
                    {{ 'item.size' | trans }}
                </span>
            </div>
            <div class="row">
                <span class="col">
                    {{ item.category.name }}
                </span>
                <span class="col">
                    {{ item.size.name }}
                </span>
            </div>
        </div>
        <div class="col col-2">
            <div class="row">
                <span class="col badge bg-secondary-subtle">
                    {{ 'item.price' | trans }}
                </span>
            </div>
            <div class="row text-end">
                <span class="col">
                    {{ item.price|number_format(4, ',', '.') }} €
                </span>
            </div>
        </div>
        <div class="col col-1 d-flex justify-content-center align-items-center">
            <div class="btn-group-vertical">
                <a class="btn btn-secondary" href="{{ item.link }}" target="_blank">
                    <i class="bi bi-box-arrow-up-right"></i>
                </a>
                <button
                    class="btn btn-danger"
                    type="button"
                    onclick="prepareRemoval(this)"
                >
                    <input name="delete[{{ item.id }}]" type="hidden" value="yes" disabled/>
                    <i class="bi bi-bag-x"></i>
                </button>
            </div>
        </div>
    </div>
</li>