{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-3">
        <form method="post">
            <div class="d-none d-lg-block">
                <div class="row mb-3">
                    <div class="col">
                        <h3>{{ 'categories' | trans }}</h3>
                        {% include 'manage/entries.html.twig' with {entries: categories, name: 'category'} %}
                    </div>
                    <div class="col">
                        <h3>{{ 'retailers' | trans }}</h3>
                        {% include 'manage/entries.html.twig' with {entries: retailers, name: 'retailer'} %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h3>{{ 'sizes' | trans }}</h3>
                        {% include 'manage/entries.html.twig' with {entries: sizes, name: 'size'} %}
                    </div>
                </div>
            </div>
            <div class="d-block d-lg-none accordion" id="acc">
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-categories">
                            {{ 'categories' | trans }}
                        </button>
                    </h3>
                    <div id="acc-categories" class="accordion-collapse collapse" data-bs-parent="#acc">
                        <div class="accordion-body">
                            {% include 'manage/entries.html.twig' with {entries: categories, name: 'category'} %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-retailers">
                            {{ 'retailers' | trans }}
                        </button>
                    </h3>
                    <div id="acc-retailers" class="accordion-collapse collapse" data-bs-parent="#acc">
                        <div class="accordion-body">
                            {% include 'manage/entries.html.twig' with {entries: retailers, name: 'retailer'} %}
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h3 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc-sizes">
                            {{ 'sizes' | trans }}
                        </button>
                    </h3>
                    <div id="acc-sizes" class="accordion-collapse collapse" data-bs-parent="#acc">
                        <div class="accordion-body">
                            {% include 'manage/entries.html.twig' with {entries: sizes, name: 'size'} %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}