{% extends 'base.html.twig' %}

{% block body %}
    <template id="row">
        <tr>
            <td>
                <input name="image[]" type="file" class="form-control" accept="image/*" maxlength="{{ 2**24-1 }}" required />
            </td>
            <td>
                <input name="name[]" class="form-control" required />
            </td>
            <td>
                <input name="number[]" class="form-control" required />
            </td>
            <td>
                <select class="form-select" name="category[]" required >
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </td>
            <td>
                <input name="size[]" class="form-control" required />
            </td>
            <td>
                <input name="quantity[]" type="number" class="form-control" required />
            </td>
            <td>
                <input name="price[]" type="number" step="any" class="form-control" required />
            </td>
            <td>
                <button
                    class="btn btn-danger"
                    type="button"
                    onclick="prepareRemoval(this)"
                >
                    <input name="delete[]" type="hidden" value="yes" disabled />
                    <i class="bi bi-bag-x"></i>
                </button>
            </td>
        </tr>
    </template>

    <div class="container mt-3">
        <form method="post" enctype="multipart/form-data">
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th scope="col">Bild URL</th>
                        <th scope="col">Bezeichnung</th>
                        <th scope="col">Mouser-Nr.</th>
                        <th scope="col">Kategorie</th>
                        <th scope="col">Bauart</th>
                        <th scope="col">Bestand +/-</th>
                        <th scope="col">Einzelpreis</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="list">
                    {% for item in items %}
                        <tr>
                            <td>
                                <img
                                    width="64px"
                                    height="64px"
                                    src="data:{{ item.imageType }};base64,{{ item.image }}"
                                    alt="product image"
                                />
                            </td>
                            <td>{{ item.name }}</td>
                            <td>
                                <form action="https://www.mouser.de/c/" target="_blank">
                                    <button class="btn btn-primary" type="submit" name="q" value="{{ item.number }}">
                                        {{ item.number }}
                                        <i class="ms-2 bi bi-box-arrow-up-right"></i>
                                    </button>
                                </form>
                            </td>
                            <td>{{ item.category.name }}</td>
                            <td>{{ item.size }}</td>
                            <td>
                                <input name="quantity[{{ item.id }}]" type="number" class="form-control" required />
                            </td>
                            <td>{{ item.price }}</td>
                            <td>
                                <button
                                        class="btn btn-danger"
                                        type="button"
                                        onclick="prepareRemoval(this)"
                                >
                                    <input name="delete[]" type="hidden" value="yes" disabled />
                                    <i class="bi bi-bag-x"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="btn-group">
                <button class="btn btn-primary" type="submit">
                    <i class="bi bi-floppy2"></i>
                </button>
                <button class="btn btn-secondary" type="button" onclick="addItemToList()">
                    <i class="bi bi-bag-plus"></i>
                </button>
            </div>
            <div class="float-end">
                <a class="btn btn-primary" href="{{ url('categories.manage') }}">
                    Kategorien verwalten
                </a>
            </div>
        </form>
    </div>
    <script>
        const template = document.getElementById('row');
        const list = document.getElementById('list');

        {% verbatim %}
        function addItemToList() {
            const id = `tmp-${new Date().getTime()}`;
            const t = template.content.cloneNode(true);
            t.querySelectorAll('input').forEach(input => input.name = input.name.replace(/(\w+)\[\]/, `$1[${id}]`));
            t.querySelectorAll('select').forEach(input => input.name = input.name.replace(/(\w+)\[\]/, `$1[${id}]`));
            list.appendChild(t);
        }

        function prepareRemoval(bt) {
            const deleteInput = bt.querySelector('input');
            if (deleteInput.name.match(/\[tmp-\d+\]/)) {
                bt.parentNode.parentNode.remove();
            } else {
                bt.parentNode.parentNode.style.display = 'none';
                deleteInput.disabled = false;
            }
        }
        {% endverbatim %}

        {% if items|length == 0 %}
            addItemToList();
        {% endif %}
    </script>
{% endblock %}